:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: light-dark(#fdebe1, #0d1017);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#imgPerfil {
  width: 200px;
  border-radius: 50%;
  border: 5px solid;
  border-color: light-dark(#0d1017, #fdebe1);
  margin-bottom: 30px;
}

h1 {
  font-size: 28px;
  width: 250px;
}

h1,
p {
  text-align: center;
  margin: 10px;
}

ul {
  padding: 0;
  margin: 10px;
}

li {
  list-style: none;
  background-color: light-dark(#0d1017, #fdebe1);
  padding: 6px;
  width: 100px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

li a {
  font-weight: bold;
  text-decoration: none;
  color: light-dark(#fdebe1, #0d1017);
}
